data/
tests_output/
trees.svg/
trees_output/
.venv/
.env
.env.*
!.env.example
__pycache__/
*.py[cod]
*.xlsx
*.fasta
*.fa
*.fas
*.aln
*.phy
*.phylip
*.nwk
*.log/
*.svg
*.newick
*.nex
.ipynb_checkpoints/



